<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/send-sms" method="POST">
        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="to" required><br><br>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" required><br><br>
        <input type="submit" value="Submit">
        <button type="submit">Submit</button>
    </form>
</body>

</html>