<!DOCTYPE html>
<html>

<head>
    <title>Send SMS</title>
</head>

<body>
    <h1>Send SMS</h1>
    <form action="/send-sms" method="POST">
        <label for="to">To:</label>
        <input type="text" id="to" name="to" required><br><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br><br>
        <button type="submit">Send</button>
    </form>
</body>

</html>